@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(Infinity-1s-200px.gif) no-repeat center;
    z-index: 9999;
}
h1,h3{
  color:#146dd1;
}